.contacts {
  padding: 15vh 15vw;
  background-color: var(--custom-white-2);
  box-shadow: inset 0 0 18px 4px rgba(0, 0, 0, 0.3);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: 1.2rem;
  }
  &-icon {
    color: var(--secondary-color);
  }
}

.highlighted-text {
  color: var(--secondary-color);
}
