.contacts {
  padding: 15vh 15vw;
  background-color: var(--custom-white-2);
  box-shadow: inset 0 0 18px 4px rgba(0, 0, 0, 0.3);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 1.2rem;
  }

  &-icon {
    color: var(--primary-color);
  }
}

.highlighted-text {
  color: var(--primary-color);
}

.message {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-bottom: 0 solid rgba(0, 0, 0, 0);

  &:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 991.98px) {
  .contacts {
    padding: 5vh 5vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contacts {
    padding: 15vh 5vw;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
