header {
  height: 8vh;
  background-color: var(--primary-color);
  color: var(--custom-white);
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }
  }

  .sidenav-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .user-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

::ng-deep .mat-menu-panel {
  background-color: var(--primary-contrast-bg-alt);

  .mat-menu-item {
    color: var(--secondary-color-alt);
    font-family: 'Comfortaa';
  }
}
