header {
  height: 10vh;
  user-select: none;
  font-weight: bolder;
  transition: all 300ms ease-in-out;
  z-index: 1000;


  .container-fluid {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Kalam', cursive;
  }

  .user-button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .header-text {
      font-family: 'Comfortaa', Roboto, 'Helvetica Neue', sans-serif;
      border-bottom: 2px solid transparent;
      transition: all 300ms ease-in-out;
      color: var(--custom-white);

      &:hover {
        border-bottom-color: var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}

.header-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.header-colored {
  background-color: #400010;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.3);
}
