header {
  height: 8vh;
  background-color: var(--primary-color);
  color: var(--secondary-contrast-bg);

  .sidenav-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .user-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

::ng-deep .mat-menu-panel {
  background-color: var(--primary-contrast-bg-alt);

  .mat-menu-item {
    color: var(--secondary-contrast-bg);
    font-family: 'Comfortaa';

  }
}
