.place-location {
  width: 100vw;
  padding: 15vh 15vw;
  background-color: var(--custom-white);
}

iframe {
  border-radius: 1rem;

}

.map-frame {
  height: 60vh;
  border: 3px solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.2);

}
