.place-location {
  width: 100vw;
  padding: 15vh 0;
  background-color: var(--custom-white);
}

iframe {
  box-shadow: 0 0 17px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.map-frame{
  height: 60vh;
}
