.place-location {
  width: 100vw;
  padding: 15vh 15vw;
  background-color: var(--custom-white);
}

iframe {
  border-radius: 1rem;
}

.map-frame {
  height: 60vh;
  border: 3px solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.2);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 991.98px) {
  .place-location {
    padding: 5vh 5vw;
  }

  .map-frame {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .place-location {
    padding: 15vh 5vw;
  }

  .map-frame {
    width: 100%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .place-location {
    padding: 15vh 10vw;
  }
  .map-frame {
    width: 100%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
