<div class='place-location'>
  <div class='container-fluid'>
    <div class='row mb-5 pe-xxl-5 ps-xxl-5'>
      <div class='col-12 d-flex justify-content-center align-items-center'>
        <h1 class='section-title'>{{ "FIND_US.SECTION_TITLE" | translate }}</h1>
      </div>
    </div>
    <div class='row mb-5 pe-xxl-5 ps-xxl-5'>
      <div class='col-12 d-flex justify-content-center align-items-center map-frame'>
        <iframe
          allowfullscreen=''
          height='100%'
          loading='lazy'
          referrerpolicy='no-referrer-when-downgrade'
          src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1364.2735972835515!2d16.383330772143314!3d39.85876648651621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133f5dd8c2c358f5%3A0x9ed25eec2ae5d0b!2sAntica%20Dimora%20Palazzo%20Rovitti!5e0!3m2!1sit!2sit!4v1649348726025!5m2!1sit!2sit'
          width='100%'
        ></iframe>
      </div>
    </div>
  </div>
</div>
