<div class='jumbotron d-flex justify-content-center align-items-center'>
  <div class='container-fluid jumbotron-container'>
    <div class='row'>
      <div class='col-md-12 col-lg-8 welcome-box'>
        <div class='logo-container'>
          <img alt='alt' src='../../../assets/logos/logo_transparent_edit.png' />
        </div>
        <h3 class='welcome-message mb-5'>
          {{'JUMBOTRON.TEXT' | translate}}
        </h3>
        <button (click)='discoverEmitter.emit()' color='primary' mat-flat-button>
          {{'JUMBOTRON.BUTTON' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
