.jumbotron {
  height: 100vh;
  //padding-top: 10vh;
  background-image: url("../../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.3);

  .jumbotron-container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .welcome-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .logo-container {
        width: 1200px;
        height: 500px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .welcome-message {
        text-align: center;
        color: var(--custom-white);
        line-height: 2.5rem;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .jumbotron {
    .jumbotron-container {
      .welcome-box {
        .logo-container {
          width: 100%;
          height: 150px;
        }

        .welcome-message {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron {
    .jumbotron-container {
      .welcome-box {
        .logo-container {
          width: 100%;
          height: 200px;
        }

        .welcome-message {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron {
    .jumbotron-container {
      .welcome-box {
        .logo-container {
          width: 100%;
          height: 250px;
        }

        .welcome-message {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1599.98px) {
  .jumbotron {
    .jumbotron-container {
      .welcome-box {
        .logo-container {
          width: 100%;
          height: 350px;
        }

        .welcome-message {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
