<section id="hero">
  <!--<img src="assets/logos/logo_transparent.png" alt="" class="hero-logo">-->
  <div class="hero-container">
    <div class="hero-text-container">
      <h3 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
      <h1 class="title">B and B</h1>
      <h5 class="welcome-description">Nulla tortor magna, elementum et commodo sodales, dictum sit amet mi.</h5>
    </div>
    <div class="hero-actions">
      <button mat-raised-button>Prenota ora</button>
    </div>
  </div>
</section>

<!--ABOUT THE PLACE-->
<section id="place-description">
  <div class="section-container">
    <h3 class="section-subtitle">Lorem ipsum dolor sit amet</h3>
    <h1 class="section-title">La location</h1>
    <p class="section-description">
      Suspendisse sagittis, eros id porta ultrices, nisl mi aliquet elit, ac faucibus urna mi quis erat. Vivamus quis
      placerat ipsum, sed consectetur odio.
    </p>
  </div>
  <app-image-slider></app-image-slider>
</section>

<!--SERVICES-->
<section id="services">
  <div class="section-container">
    <h3 class="section-subtitle">Il posto perfetto per rilassarti</h3>
    <h1 class="section-title">I nostri servizi</h1>
  </div>
  <div class="container-fluid services-container p-0">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <div class="service-card-container">
          <div class="service-card-box">
            <i class="fa-solid fa-hands-bubbles fa-2x service-icon"></i>
            <h5 class="service-title">Lavanderia</h5>
            <p>E' presente un locale lavanderia a disposizione delle clientela.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="service-card-container">
          <div class="service-card-box">
            <i class="fa-solid fa-mug-saucer fa-2x service-icon"></i>
            <h5 class="service-title">Colazione</h5>
            <p>La colazione e' offerta dalla struttura ogni mattina.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="service-card-container">
          <div class="service-card-box">
            <i class="fa-solid fa-wifi fa-2x service-icon"></i>
            <h5 class="service-title">Wifi gratuito</h5>
            <p>Rimani sempre connesso in tutte le aree della struttura grazie a molteplici punti di accesso Wi-fi.</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="service-card-container">
          <div class="service-card-box">
            <i class="fa-regular fa-clock fa-2x service-icon"></i>
            <h5 class="service-title">Reception 24h</h5>
            <p>La struttura mette a disposizione la reception 24h/24h.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
