<section id="hero">
  <!--<img src="assets/logos/logo_transparent.png" alt="" class="hero-logo">-->
  <div class="hero-container">
    <div class="hero-text-container">
      <h3 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
      <h1 class="title">B and B</h1>
      <h5 class="welcome-description">Nulla tortor magna, elementum et commodo sodales, dictum sit amet mi.</h5>
    </div>
    <div class="hero-actions">
      <button mat-raised-button>Prenota ora</button>
    </div>
  </div>
</section>

<!--ABOUT THE PLACE-->
<section id="place-description">
  <div class="description-container">
    <h3 class="section-subtitle">Lorem ipsum dolor sit amet</h3>
    <h1 class="section-title">Title</h1>
    <p class="section-description">Suspendisse sagittis, eros id porta ultrices, nisl mi aliquet elit, ac faucibus urna mi quis erat. Vivamus quis placerat ipsum, sed consectetur odio.</p>
  </div>
  <app-image-slider></app-image-slider>
</section>


