:root {
  //MAIN COLORS
  //--primary-color: #9c404f;
  --primary-color: #400010;
  --secondary-color: #9c404f;
  --tertiary-color: #785931;
  --error-color: #ba1b1b;

  //BACKGROUND COLORS
  --custom-white: #fcfcfc;
  --custom-white-2: #f0f0f0;

  // SECONDARY BACKGROUNDS
  --primary-color-alt: #ffdade;
  --secondary-color-alt: #ffd9dc;
  --tertiary-color-alt: #ffddb4;

  // ALT CONTRaST BACKGROUND
  --primary-contrast-bg-alt: #400010;
  --secondary-contrast-bg-alt: #2c1518;
  --tertiary-contrast-bg-alt: #2a1700;

  //BORDERS
  --outline-color: #847374;
  --outline-color-variant: #524344;
}

.primary-text {
  color: var(--primary-color)
}

.secondary-text {
  color: var(--secondary-color)
}

.tertiary-text {
  color: var(--tertiary-color)
}
