<div class="place-description">
  <!--DESCRIZIONE STRUTTURA-->
  <div class="container-fluid">
    <div class="row mb-5 pe-5 ps-5">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h1 class="section-title">{{ "PLACE_DESCRIPTION.SECTION_TITLE" | translate }}</h1>
      </div>
    </div>
    <div class="row mb-5 pe-xxl-5 ps-xxl-5">
      <div
        class="col-md-12 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center flex-column structure-box"
      >
        <div class="img-container mb-3">
          <img alt="" src="assets/images/structure/photo_1.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_1.TITLE" | translate }}
            </h4>
            <p class="text">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_1.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-12 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center flex-column structure-box"
      >
        <div class="img-container mb-3">
          <img alt="" src="assets/images/structure/photo_2.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_2.TITLE" | translate }}
            </h4>
            <p class="text">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_2.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-12 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center flex-column structure-box"
      >
        <div class="img-container mb-3">
          <img alt="" src="assets/images/structure/photo_3.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_3.TITLE" | translate }}
            </h4>
            <p class="text">
              {{ "PLACE_DESCRIPTION.FEATURES.FEATURE_3.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--SERVIZI-->
  <div class="container-fluid services-container">
    <div class="row mb-5 pe-xxl-5 ps-xxl-5">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3 class="section-subtitle">
          {{ "PLACE_DESCRIPTION.SERVICES.TITLE" | translate }}
        </h3>
      </div>
    </div>
    <div class="row pe-xxl-5 ps-xxl-5">
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-mug-saucer fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_1.TITLE" | translate }}
            </h4>
            <p class="service-box-text">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_1.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-dog fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_2.TITLE" | translate }}
            </h4>
            <p class="service-box-text">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_2.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-square-parking fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_3.TITLE" | translate }}
            </h4>
            <p class="service-box-text">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_3.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-mountain fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_4.TITLE" | translate }}
            </h4>
            <p class="service-box-text">
              {{ "PLACE_DESCRIPTION.SERVICES.SERVICE_4.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
