<div class="place-description">
  <div class="container-fluid">
    <div class="row mb-5 pe-5 ps-5">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h1 class="section-title">Struttura e servizi</h1>
      </div>
    </div>
    <div class="row mb-5 pe-5 ps-5">
      <div class="col-4 d-flex justify-content-center align-items-center flex-column">
        <div class="img-container mb-5">
          <img alt="" src="assets/images/structure/photo_1.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">Lorem ipsum</h4>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center flex-column">
        <div class="img-container mb-5">
          <img alt="" src="assets/images/structure/photo_2.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">Lorem ipsum</h4>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center flex-column">
        <div class="img-container mb-5">
          <img alt="" src="assets/images/structure/photo_3.jpg" />
        </div>
        <div class="structure-description">
          <div class="text-container">
            <h4 class="mb-3 subtitle">Lorem ipsum</h4>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid services-container">
    <div class="row mb-5 pe-5 ps-5">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3 class="section-subtitle">Servizi garantiti</h3>
      </div>
    </div>
    <div class="row pe-5 ps-5">
      <div class="col-3">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-mug-saucer fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">Colazione inclusa</h4>
            <p class="service-box-text">La colazione all'italiana viene servita tutte le mattine</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-dog fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">Animali benvenuti</h4>
            <p class="service-box-text">Gli animali sono consenti senza ulteriori aumenti di prezzo</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-square-parking fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">Parcheggio gratuito</h4>
            <p class="service-box-text">Il parcheggio e' gratuito e non sono necessarie prenotazioni</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="service-box-container">
          <div class="service-box">
            <i class="service-box-icon fa-solid fa-mountain fa-3x mb-3"></i>
            <h4 class="service-box-subtitle mb-2">Esterni meravigliosi</h4>
            <p class="service-box-text">Sono a disposizione un ampio terrazzo e il giardino</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
