<header>
  <app-header
    (itemEmitter)="scrollToSection($event)"
    [isViewportAtTop]="isViewportAtTop"
    [ngClass]="{
      'position-absolute': screenWidth <= screenSizes.screenSizeMd,
      'position-fixed': screenWidth > screenSizes.screenSizeMd
    }"
    [screenSizes]="screenSizes"
    [screenWidth]="screenWidth"
  ></app-header>
</header>
<main>
  <section #jumbotron>
    <app-jumbotron (discoverEmitter)="scrollToSection('history')"></app-jumbotron>
  </section>
  <section #history>
    <app-place-history></app-place-history>
  </section>
  <!--  <div class="section-separator"></div>-->
  <section #structure>
    <app-place-description></app-place-description>
  </section>
  <!--  <div class="section-separator"></div>-->
  <section #location>
    <app-location></app-location>
  </section>
  <!--  <div class="section-separator"></div>-->
  <section #contacts>
    <app-contacts></app-contacts>
  </section>
  <div
    #scrollButton
    (click)="scrollToSection('jumbotron')"
    [ngClass]="{
      'scroll-to-top-button-visibile': !isJumbotronScrolledIntoView,
      'scroll-to-top-button-invisible': isJumbotronScrolledIntoView
    }"
    class="scroll-to-top-button"
    mat-ripple
  >
    <i class="fa-solid fa-arrow-up fa-2x"></i>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
