.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 50vw;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--primary-color-alt);

  .logo-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-img {
      height: 4rem;
      border-radius: 0.5rem;
    }
  }


  .menu-container {
    margin-top: 2rem;

    ul {
      li {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }
  .social-container{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
