app-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.scroll-to-top-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--custom-white);
  box-shadow: 0 0 8px -1px #000;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: var(--primary-color);
  }

  &-visible {
    opacity: 1;
  }

  &-invisible {
    opacity: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-separator {
  height: 5px;
  width: 60%;
  background-color: var(--secondary-color);
}


