<header>
  <app-header
    (itemEmitter)='scrollToSection($event)'
    [isViewportAtTop]='isViewportAtTop'
    [ngClass]="{
      'position-absolute': screenWidth <= screenSizes.screenSizeLg,
      'position-fixed': screenWidth > screenSizes.screenSizeLg
    }"
    [screenSizes]='screenSizes'
    [screenWidth]='screenWidth'
  ></app-header>
</header>
<main>
  <section #jumbotron>
    <app-jumbotron (discoverEmitter)="scrollToSection('history')"></app-jumbotron>
  </section>
  <section #history id='history'>
    <app-place-history></app-place-history>
  </section>
  <section #structure>
    <app-place-description></app-place-description>
  </section>
  <section #location>
    <app-location></app-location>
  </section>

  <section #contacts>
    <app-contacts></app-contacts>
  </section>
  <div
    #scrollButton
    (click)="scrollToSection('jumbotron')"
    [ngClass]="{
      'scroll-to-top-button-visibile': !isJumbotronScrolledIntoView,
      'scroll-to-top-button-invisible': isJumbotronScrolledIntoView
    }"
    class='scroll-to-top-button'
    mat-ripple
  >
    <i class='fa-solid fa-arrow-up fa-2x'></i>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
