.history-container {
  height: 80vh;
  margin: 10vh 0;
}
.title {
  font-family: 'Kalam', cursive;
  font-weight: bolder;
  color: var(--secondary-color);
}

.history-text {
  font-size: 1.5rem;
  text-justify: auto;
  line-height: 3rem;
  .highlighted-text{
    color: var(--secondary-color);
  }
}

.img-container {
  height: 600px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 17px -2px #000;
  img {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
  }
}
