<div class="history-container">
  <div class="history-container-card p-4">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-12">
          <h1 class="card-title">Title</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Come d'incanto , con immediatezza , senza tentennamenti, lo sguardo si posa sull'imponente "Palazzo Rovitti ",
          palazzo storico di Cerchiara di Calabria , del 1600, che ha visto la presenza di importanti personaggi storici
          , una fra tutte è quella dei reali del Regno delle due Sicilie: Francesco II e Maria Sofia Amalia.
          Inizialmente, fissa dimora dei signori Rovitti, uomini di legge , amministratori dei beni appartenenti ai
          feudatari di Cerchiara , i Pignatelli (legame evidente sul blasone di famiglia sul quale sono impresse tre
          pignate oltre le corna d' arietecontro il malocchio),dal 1950 dimora estiva della gentilizia famiglia Rovitti-
          Gentile, da quindici anni or sono, ospita al suo interno l'attività ricettiva di AFITTACAMERE " ANTICA DIMORA"
          PALAZZO ROVITTI.
        </div>
        <div class="col-6">
          <div class="img-container">
            <img alt="" src="assets/images/small_bg.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
