<div class="container-fluid  history-container">
  <div class="row mb-5 pe-5 ps-5">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h1 class="section-title">La nostra storia</h1>
    </div>
  </div>
  <div class="row pe-5 ps-5">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <p class="history-text">
        "Palazzo Rovitti " è un palazzo storico di Cerchiara di Calabria del 1600, che ha visto la presenza di
        importanti personaggi storici, una fra tutte è quella dei reali del Regno delle due Sicilie: Francesco II e
        Maria Sofia Amalia.
        <br/>
        <br/>
        Inizialmente fu la fissa dimora dei signori Rovitti, uomini di legge, e degli amministratori dei beni
        appartenenti ai feudatari di Cerchiara, i Pignatelli. Con questi ultimi vi è un legame evidente sul blasone di
        famiglia, sul quale sono impresse tre pignate oltre le corna d'ariete utilizzate per allontanare il malocchio.
        <br/>
        <br/>
        Dal 1950 diventa dimora estiva della gentilizia famiglia Rovitti - Gentile, da quindici anni or sono, ospita al
        suo interno l'attività ricettiva di
        <span class="highlighted-text">AFITTACAMERE "ANTICA DIMORA" PALAZZO ROVITTI</span> .
      </p>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="img-container">
        <img alt="" src="assets/images/small_bg.jpg"/>
      </div>
    </div>
  </div>
</div>
