<div class='container-fluid history-container'>
  <div class='row mb-5 pe-5 ps-5'>
    <div class='col-12 d-flex justify-content-center align-items-center'>
      <h1 class='section-title'>{{'HISTORY.SECTION_TITLE' | translate}}</h1>
    </div>
  </div>
  <div class='row pe-xxl-5 ps-xxl-5'>
    <div class='col-12 d-flex justify-content-start align-items-center mb-lg-5'>
      <p class='history-text'>
        {{'HISTORY.TEXT1' | translate}}
        <br />
        <br />
        {{'HISTORY.TEXT2' | translate}}
        <br />
        <br />
        {{'HISTORY.TEXT3' | translate}}
        <span class='highlighted-text'>{{'GENERAL.TITLE' | translate}}</span>
        .
      </p>
    </div>
    <div class='col-12 d-flex justify-content-center align-items-center'>
      <div class='img-container'>
        <img alt='' src='assets/images/palazzo.jpg' />
      </div>
    </div>
  </div>
</div>
