.history-container {
  padding: 15vh 15vw;
  background-color: var(--custom-white);
  //box-shadow: inset 0 0 18px 4px rgba(0, 0, 0, 0.3);
}

.history-text {
  font-size: 1.5rem;
  text-justify: auto;
  line-height: 3rem;

  .highlighted-text {
    color: var(--primary-color);
  }
}

.img-container {
  width: 1200px;

  img {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    object-fit: cover;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 0px) and (max-width: 991.98px) {
  .history-container {
    padding: 5vh 5vw;

    .history-text {
      font-size: 1.3rem;
      line-height: 2rem;
    }

    .img-container {
      margin-top: 3rem;
      width: 350px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .history-container {
    padding: 15vh 5vw;

    .history-text {
      font-size: 1.3rem;
      line-height: 2rem;
    }

    .img-container {
      margin-top: 3rem;
      width: 800px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
