/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'styles/custom-palette';
@import 'styles/custom-icons';

html,
body {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--custom-white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.debug {
  border: 1px solid var(--error-color);
}

button {
  font-family: 'Comfortaa';
}

.section-title {
  //font-family: 'Kalam', cursive;
  font-weight: bolder;
  color: var(--secondary-color);
  font-size: 2.5rem;
  width: 25rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 3px solid var(--secondary-color);
}

.section-subtitle {
  //font-family: 'Kalam', cursive;
  font-weight: bolder;
  color: var(--secondary-color);
  font-size: 1.9rem;
  width: 25rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 3px solid var(--secondary-color);
}
